@model asp.net_core3_library_application.Models.CheckoutModels.CheckoutModel

@{ 
    ViewBag.Title = "Place book hold";
}

<div class="container">
    <div class="card-header clearfix detailHeading">
        <h2 class="text-muted">Place hold on library item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-9">
                <p>There are currently @Model.HoldCount holds in the queue for this item.</p>
                @using (Html.BeginForm("PlaceHold", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.AssetId)
                    <div>
                        Please insert a library card ID.
                        @Html.TextBoxFor(a => a.LibraryCardId)
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info btn-lg">Place hold</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>